.div_btn_register{
    width: 60% !important;

}
.btn_register{
    transition: 0.4s all;
    text-decoration-style:double;
    color:red;
}
.btn_register:hover, .btns:hover{
    transition: 0.4s all !important;
    color: black !important;
    text-decoration-style: wavy !important;
}
